/* static/css/login.css */
:root {
  --primary-color: #4c5ca4;
  --background-color: #f2f3fb;
  --accent-color: #84acdb;
  --hover-color: #809fd8;
  --text-shadow-color: #8690c5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.login-container {
  background: #1e1e1e;
  padding: 40px;
  border-radius: 100px;
  border: 5px solid #3a8bff;
  box-shadow: 0 0 30px rgba(58, 139, 255, 0.2);
  width: 360px;
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ddd;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 30px;
  font-size: 19px;
  color: #fff;
}

.input-group {
  position: relative;
  margin-bottom: 20px;

}

.input-group i {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: #3a8bff;
  background-color: #2a2a2a;
  border: 5px solid #3a8bff;
  border-radius: 50%;
  padding: 8px;
  font-size: 14px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 14px 20px 14px 60px;
  border-radius: 30px;
  font-size: 18px;
  background: #2a2a2a;
  color: #fff;
  outline: none;
  border: 5px solid #3a8bff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border: 5px solid #3a8bff;
  box-shadow: 0 0 8px rgba(58, 139, 255, 0.4);
}

.login-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #3a8bff;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #2f74d1;
  transform: scale(1.05);
}

.link-text {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.link-text a {
  color: #3a8bff;
  text-decoration: none;
  font-weight: bold;
}

.link-text a:hover {
  text-decoration: underline;
  color: #5caaff;
}


.flash-message {
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-message.danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

